# This is a sample systemd service file.
# Install one similar to this to /etc/systemd/system
# then run sudo systemctl enable lumen
# to make the server run automatically on boot.

[Unit]
Description=Lumen Projector Management

[Service]
Environment="PORT=80"
# Environment="PROJECTORS=Left:canon:192.168.10.132,Right:canon:192.168.10.133"
Environment="PROJECTORS=Left:vivitek:192.168.10.134,Right:vivitek:192.168.10.135"
ExecStart=/lumen/venv/bin/gunicorn lumen.serve:app
Restart=always

[Install]
WantedBy=multi-user.target
