<!doctype html>
<html>
  <head>
    <title>Gentry SDA Projectors</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <span class="brand-logo center">Projectors</span>
      </div>
    </nav>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">Power</span>
            <div class="right">
              <form method="POST" action="/poweron" style="display: inline"><input class="waves-effect waves-light btn-large" style="min-width: 140px" type="submit" value="On"></form>
              <form method="POST" action="/poweroff" style="display: inline"><input class="waves-effect waves-light btn-large" style="min-width: 140px" type="submit" value="Off"></form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">Freeze</span>
            <div class="right">
                <form method="POST" action="/freeze" style="display: inline"><input class="waves-effect waves-light btn-large" style="min-width: 140px" type="submit" value="Freeze"></form>
              <form method="POST" action="/unfreeze"style="display: inline"><input class="waves-effect waves-light btn-large" style="min-width: 140px" type="submit" value="Unfreeze"></form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">Blank</span>
            <div class="right">
              <form method="POST" action="/blank" style="display: inline"><input class="waves-effect waves-light btn-large" style="min-width: 140px" type="submit" value="Blank"></form>
              <form method="POST" action="/unblank" style="display: inline"><input class="waves-effect waves-light btn-large" style="min-width: 140px" type="submit" value="Unblank"></form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
